* {
   box-sizing: border-box;
   scroll-behavior: smooth;
}

*,
*::after,
*::before {
   box-sizing: inherit;
}

:root {
   --title-color: #ffdb4d;
   --font-size-title: 48px;
   --font-size-text: 18px;
   --mobil-title: 26px;
   --mobil-text: 16px;
}

a {
   text-decoration: none;
   color: #fff;
}

html {
   box-sizing: border-box;
   overflow-x: hidden;
}

body {
   font-family: 'Montserrat', sans-serif;
   font-family: 'Roboto Condensed', sans-serif;
   color: #fff;
   background-color: #171717;
}

.container {
   max-width: 1180px;
   margin: auto;
   width: 90%;
}

.title {
   font-size: var(--font-size-title);
   color: var(--title-color);
}

.cover {
   width: 100%;
   height: 100vh;
   margin-bottom: 150px;
   background: linear-gradient(rgba(0, 0, 0, 0.9), 
   rgba(0, 0, 0, 0.2)), url(../img/IMG_6085.webp);
   background-position: 50% 50%;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
   text-align: center;
   padding-bottom: 70px;
   background-size: cover;
}


.cover__title {
   color: var(--title-color);
   font-size: 60px;
   font-family:'Roboto Condensed', sans-serif;
   margin: 0 0 20px 0;
}

.cover__text {
   font-size: var(--font-size-text);
   font-family: 'Montserrat', sans-serif;
   margin-top: 0;
   margin-bottom: 50px;
}

.cover-link {
   display: block;
}

.cover-buttons {
   display: flex;
   align-items: center;
}

.cover-button {
   width: 220px;
   padding: 15px;
   font-family: 'Montserrat', sans-serif;
   border: 1px solid var(--title-color);
   border-radius: 15px;
}

.cover-button:first-child {
   margin-right: 30px;
}

.cover-button:hover {
   background-color: var(--title-color);
   color: #171717;
   transition: all 0.5s ease-out;
}

.about__content {
   display: flex;
   align-items: center;
   margin-bottom: 150px;
}

.about-info {
   padding-right: 100px;
}

.about__text {
   font-size: var(--font-size-text);
   font-family: 'Montserrat', sans-serif;
}

.about__text span {
   font-weight: 700;
}

.about__img img {
   max-width: 500px;
}

.social {
   margin-bottom: 150px;
}

.social, .media h2 {
   text-align: center;
}

.media h2 {
   margin: 0 0 40px 0;
}

.social-links {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.social-link {
   max-width: 70px;
   margin: 0 20px;
}

.social-link img {
   width: 100%;
}

.media__content {
   text-align: center;
   margin-bottom: 50px;
}

.music {
   border: none;
   width: 50%;
   height: 450px;
   width: 50%;
   height: 500px;
}

@media (max-width: 900px) {
   .about__content {
      flex-wrap: wrap;
   }
   .about-info {
      padding-right: 0;
   }
}

@media (max-width: 550px) {
   .container {
      max-width: 360px;
   }
   .title {
      font-size: var(--mobil-title);
   }
   .cover, .about__content {
      margin-bottom: 60px;
   }
   .cover__title {
      font-size: 30px;
   } 
   .cover-buttons {
      flex-wrap: wrap;
      justify-content: center;
   } 
   .cover-button:first-child {
      margin-right: 0;
      margin-bottom: 15px;
   }
   .cover__text {
      margin-bottom: 20px;
   }
   .cover__text, .cover-button, .about__text {
      font-size: var(--mobil-text);
   }
   .about__img img {
      max-width: 320px;
   }
   .social {
      margin-bottom: 60px;
   }
   .social-link {
      max-width: 45px;
      margin: 0 10px;
   }
   .music {
      width: 90%;
   }
}